# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Virtualenv
venv/
env/

# Django stuff
*.pot
*.pyc
*.pyo
*.db
*.mo
media/
staticfiles/

# VSCode / PyCharm
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Environment
.env
